* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 350px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
.antes-depois{
    padding-right: 12%;
    padding-left: 15%;
    margin-top: 250px;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 300px;
    background-color: var(--cor-fonte-hero-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-antes-depois{
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 55%;
    font-size: 25px;
    color: var(--cor-fonte-destaque-primaria);
    font-weight: 600;
}
.subtitulo-antes-depois{
    margin-top: 0;
    margin-right: 55%;
    font-size: 20px;
    color: var(--cor-fonte-secundaria);
    font-weight: 700;
}
.texto-antes-depois{
    font-size: 18px;
    margin-right: 55%;
    margin-top: 20px;
    margin-bottom: 300px;
    max-width: 30%;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    color: var(--cor-fonte-hero-secundaria);
}
