
form {
    position: relative;
    left: 15%;
    background-color: #8685857e;
    padding: 50px;
    border-radius: 12px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-weight: bold;
    bottom: 102px;
    height: 470px;
}

form input{
    position: relative;
    bottom: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #333333;
}
form label {
  font-size: 16px;
  position: relative;
  bottom: 20px;
}

form input,
form select {
    position: relative;
    bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    }

form button {
    position: relative;
    bottom: 10px;
    background-color: #5f7396;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 6px ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

form button:hover {
  background-color: #4a5c7a;}

.titulo-orcamento {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#servico{
    
}