.hero{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('../img/Banner\ 1.png');
    background-size: cover;
    background-position: center;
}

.hero-titulo{
    position: absolute;
    top: 0;
    right: 250px;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 355px;
    font-size: 22px;
    font-weight: bold;
}

.hero-texto{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #868585;
    justify-content: center;
    display: flex;
    margin-top: 355px ;
    font-size: 18px;
    font-weight: bold;
    flex-wrap: wrap;
}