.parallax{
    height: 700px;
    padding: 80px 0;
    background-color: var(--cor-de-fundo-primaria);
    /* The image used */
    background-image: url("../assets/banner/parallax\ 2.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bloco-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin-left: 500px;
  flex-wrap: wrap;
  padding: 0 0px;
  text-align: center;
  align-content: center;
}

.whatsapp-contato {
  color: white;
  max-width: 800px;
  font-family: Arial, sans-serif;
  padding-left: 25%;
}

.whatsapp-contato h2 {
  color: #4db8ff;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 150px;
}

.whatsapp-contato p {
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 1.5;
}

.whatsapp-contato strong {
  color: #4db8ff;
}