.sobre{
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.container-sobre{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo-sobre{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    position: relative;
    bottom: 0;
    color: var(--cor-fonte-destaque-secundaria);
    font-weight: bold;
}

.titulo-secundario{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 40px;
    color: var(--cor-fonte-secundaria);
    font-weight: bold;
}

.texto-sobre{
    position: relative;
    left: 20%;
    bottom: 55px;
    max-width: 810px;
    font-size: 18px;
    color: var(--cor-fonte-primaria);
    text-align: justify;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.destaque {
  color: var(--cor-fonte-terciaria);
  font-weight: bold;
}

.container-botao-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 80px;
}

.botao-sobre{
    background-color: var(--cor-de-fundo-primaria);
    color: var( --cor-de-fundo-secundaria);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.botao-sobre:hover{
    background-color: var(--cor-fonte-terciaria);
    color: var(--cor-de-fundo-secundaria);
    transition: 0.3s;
}