<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. Garante que as requisi챌천es para ficheiros e diret처rios reais s찾o servidas diretamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # 2. Redireciona TUDO para o index.php, preservando a query string original (QSA)
    # A URL amig찼vel (ex: /menu/detalhes) se torna um par창metro do PATH_INFO
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>